# Coursera Lesson

## Module 1: Conversions
str() converts to string

int() converts to integer

float() converts to float

 Data Types: strings, tuples, dictionaries, lists, and objects

 Keywords: in, not, or, for, while, return

 Operators: + - * / ** % // <> ==

 Functions: A group of related statements to perform a task and return a value

### Function

In [ ]:
#Function
def to_celsius(x):
    '''Convert Fahrenheit to Celsius'''
    return (x-32) * 5/9


to_celsius(75)

23.88888888888889

In [ ]:
print(7+8)
print("Hello "+"world")

15
Hello world

### What type of datatype is at use.

In [ ]:
# what type of datatype is at use.
print(type("a"))
print(type(2))
print(type(2.5))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
print(7+8.5)
print("a"+"b"+"c")
print("This " + "is " + "a " + "test")

15.5
abc
This is a test

In [ ]:
base=6
height=3
area=(base*height)/2
print("The area of the triangle is",area)

The area of the triangle is 9.0

In [ ]:
print("5*3=" + str(5*3))
#you need to put str() in order for it to calculate.

5*3=15

### Functions

In [ ]:
#Functions
def greeting(name, age):
    print("Hello " + name + ", you are " + str(age) + " years old.")
    print("your name has " + str(len(name)) + " letters in it.")

greeting("John", 40)
greeting("Pooya" , 20)

Hello John, you are 40 years old.
your name has 4 letters in it.
Hello Pooya, you are 20 years old.
your name has 5 letters in it.

In [ ]:
# What type of datatype is at use.
print(type("what could it be?"))
print(type(2))
print(type(str(2)))  # str() converts anything to string

<class 'str'>
<class 'int'>
<class 'str'>

### Sorting

In [ ]:
#Sotring
random_numbers = [24, 26, 14, 2, 6, 23, 9, 10, 7, 21]
print(sorted(random_numbers))
print(min(random_numbers))
print(max(random_numbers))

[2, 6, 7, 9, 10, 14, 21, 23, 24, 26]
2
26

### Area of triangle

In [ ]:
#Area of triangle
def area_triangle(base, height):
    return (base * height) / 2

triangle_a=area_triangle(2,3)
triangle_b=area_triangle(6,4)
print("Triangle a has an area of",triangle_a)
print("Triangle b has an area of",triangle_b)
print(type(triangle_a))
print(type(str(triangle_a)))
#Note to myself: string basically converts anything into words.

Triangle a has an area of 3.0
Triangle b has an area of 12.0
<class 'float'>
<class 'str'>

### Hours conversion

In [ ]:
# Hours conversion
# // is floor division: 5//2=2
def convert_seconds(second):
    hours = second // 3600
    minutes = (second - hours * 3600) // 60
    remaining_seconds = second - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print("Hours:", hours, "Minutes:", minutes, "Seconds:", seconds)

Hours: 1 Minutes: 23 Seconds: 20

### No return example

In [ ]:
#No return example
def greetings(name):
    print("Welcome " + name)

result=greetings("John")
print(result)
#When a function has no return, the output returns None

Welcome John
None

In [ ]:
#Example 1
name = "Pooya"
number = len(name) * 9
print("Hello "+ name + "Your lucky number is " + str(number))

Hello PooyaYour lucky number is 45

In [ ]:
# Example 1 function
def lucky_number(name):
    number = len(name) * 9
    return(print("Your lucky number is " + str(number)))

lucky_number("Pooya")
lucky_number("Linh")

Your lucky number is 45
Your lucky number is 36

In [ ]:
#Example 2 is good for learning how to use different names for variables.
#Refactoring code: process to restore code without changing functionality
def calculate(d):
    pi = 3.14
    result = pi * (d**2)
    print(result)

calculate(5)
#Output: 78.5

78.5

### function with multiple parameters

In [ ]:
#function with multiple parameters
#This function calculates the number of days in a variable number of
#years, months, and days. provided by the user and are passed to function
#with function parameters.
def find_total_days(years, months, days):
    my_days = (years*365) + (months*30) + days
    return my_days

print(find_total_days(2, 5, 30))

910

### Boolean operators

In [ ]:
#Boolean operators
print(19 > 3)
print("cat" > "dog")
print("cat" == "cat")
print(1 != 2)
#print(1<"1") #gives an error compares integer to a string
print(1 == "1")  #its obvious because they are not the same type so no error
print("Yellow" > "Cyan" and "Brown" > "Magenta")  #it uses unicode to see which is higher
print(25 > 50 or 1 != 2)
print(not 42 == "Answer")
print(5 + 10 == 20)
print(2 + 4 != 7 + 20)

True
False
True
True
False
False
True
True
False
True

In [ ]:
# not operator will return reverse value of the boolean value
print("A"=="A")
print(not("A"=="A"))
print((6*3>=18) and (9+9<=36/2))
print("Tehran"<"Isfahan") #it checks using Unicode who is higher

True
False
True
False

In [ ]:
# Sample 3
x=2*3>6
print("The value of x is: ")
print(x)
print("") #prints a blank line
print("The inversion of x is: ")
print(not x)

The value of x is:
False

The inversion of x is:
True

### Branching with IF and ElIF

In [ ]:
#-----------------BRANCHING WITH IF and ELIF STATEMENTS--------------------
def hint_username(username):
    if len(username) < 3:
        print("Invalid username, must be at least 3 characters.")

    elif len(username) > 15:
        print("Invalid username, must be at most 15 characters.")

    else:
        print("Valid username.")

hint_username("Pooya")
hint_username("Pooya1234567891011")
hint_username("P")
#There is no need to add print in the end because it is already
#in the function.

Valid username.
Invalid username, must be at most 15 characters.
Invalid username, must be at least 3 characters.

### Is even or odd

In [ ]:
#-----------------EXAMPLE 4: IS EVEN OR ODD---------------------------------
def is_even(n):
    if n%2 == 0:
        return print("True")
    return print("False")

is_even(2)
is_even(5)
print(8%3)
print(8%2)

True
False
2
0

### error explainer

In [ ]:
#-----------------EXAMPLE 5: ERROR EXPLAINER---------------------------------
def translate_error_code(error_code):
    if error_code == "401 Unauthorized":
        translation="Server received an unauthenticated request."
    elif error_code == "404 Not Found":
        translation="Requested web page not found on server."
    elif error_code == "408 Request Timeout":
        translation="Server request timed out."
    else:
        translation="Unknown error code."
    return translation #when we return it will bring the value out from the function

print(translate_error_code("401 Unauthorized"))
print(translate_error_code("404 Not Found"))
print(translate_error_code("408 Request Timeout"))
print(translate_error_code("500 Internal Server Error"))

Server received an unauthenticated request.
Requested web page not found on server.
Server request timed out.
Unknown error code.

In [ ]:
#-----------------EXAMPLE 6: GEUSSING VALUE OF NUMBER-------------------------
def geuss_number(number):
    if number <= 5:
        print("The number is 5 or smaller.")
    elif number == 33:
        print("The number is 33.")
    elif number < 32 and number >= 6:
        print('The number is between 6 and 32.')
    else:
        print('The number is ' + str(number) + ".")

geuss_number(33)
geuss_number(10)
geuss_number(5)
geuss_number(100)

The number is 33.
The number is between 6 and 32.
The number is 5 or smaller.
The number is 100.

In [ ]:
#-----------------EXAMPLE 8: TASK REMINDER----------------------------------
def task_reminder(time_as_string):
    if time_as_string == "8:00 a.m.":
        task = "Check backup images"
    elif time_as_string == "11:30 a.m.":
        task = "Run TPS report"
    elif time_as_string == "5:30 p.m.":
        task = "Reboot servers"
    else:
        task = "Provide IT Support to employees"
    return task

print(task_reminder("8:00 a.m."))
print(task_reminder("11:30 a.m."))
print(task_reminder("5:30 p.m."))
print(task_reminder("10:00 p.m."))

Check backup images
Run TPS report
Reboot servers
Provide IT Support to employees

### operators

In [ ]:
#-----------------EXAMPLE 9: Operators---------------------------------------
def product(a, b):
    return (a*b)

def difference(a, b):
    return (a-b)

def sum(a, b):
    return (a+b)

def get_remainder(x, y):
    if x==0 or y==0 or x==y:
        remainder=0
    else:
        remainder=(x % y)/y
    return remainder

print(product(2, 3))
print(difference(2, 3))
print(sum(2, 3))
print(get_remainder(2, 3))

6
-1
5
0.6666666666666666

## Module 2:Loops

### while loops

In [ ]:
# @title Example 1: While loops
x = 0
while x < 5: #This part is the loop
    print("Not there yet, x=" + str(x))
    x = x + 1
print("x=" + str(x)) #This part is the else

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

### attempts

In [ ]:
# @title Example 2: Attempts
def attempts(n):
    x = 1
    while x<= n:
        print("Attempt number " + str(x))
        x += 1 # x = x + 1
    print("Done") #when it is on the same level with while it counts as else

attempts(5)

Attempt number 1
Attempt number 2
Attempt number 3
Attempt number 4
Attempt number 5
Done

### while

In [ ]:
# @title Example 3: While
my_variable = 5
while my_variable < 10:
    print("Hello " + str(my_variable))
    my_variable += 1
print("Done")

Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Done

In [ ]:
# @title Example 4: While
x = 1
sum = 0
while x < 10:
    sum = sum + x
    x = x + 1
    print(sum)

x=1
product = 1
while x < 10:
    product = product * x
    x = x + 1

print(sum, product)

1
3
6
10
15
21
28
36
45
45 362880

In [ ]:
# @title Example 5: print_range
def print_range(start, end):
    n=start
    while n <= end:
        print(n)
        n += 1
print_range(1, 5)

1
2
3
4
5

In [ ]:
# @title Example 6: multiplier
multiplier = 1
result = multiplier * 5
while result <= 50:
    print(result)
    multiplier += 1
    result = multiplier * 5
print("Done")

5
10
15
20
25
30
35
40
45
50
Done

### factors

In [ ]:
# @title Example 7: factors
def count_factors(given_number):
    factor = 1
    count = 1

    if given_number == 0:
        return 0

    while factor <= given_number:
        if given_number % factor == 0:
            count += 1
        factor += 1
    return count

print(count_factors(0))
print(count_factors(3))
print(count_factors(10))
print(count_factors(24))

0
3
5
9

In [ ]:
# @title Example 8: Task reminder
def addition_table(given_number):
    iterated_number = 1
    my_sum = 1
    while iterated_number <= 5:
        my_sum = given_number + iterated_number
        if my_sum > 20:
            break
        print(str(given_number), "+", str(iterated_number), "=", str(my_sum))
        iterated_number += 1
addition_table(5)
addition_table(17)
addition_table(30)

5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
17 + 1 = 18
17 + 2 = 19
17 + 3 = 20

## Module 3: For Loop

Break: to exit the loop before condition is false

Pass: A placeholder when syntax requires a statement, but you dont want to execute any code or command.

In [ ]:
# @title Example 1
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# @title Example 2
friends = ["Ari", "Eri", "Popi"]
for friend in friends:
    print("Hi " + friend)

Hi Ari
Hi Eri
Hi Popi

In [ ]:
# @title Example 3
values = [27, 43, 5, 56, 298]
sum = 0
length = 0

for value in values:
    sum = sum + value
    length = length +1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 429 - Average: 85.8

In [ ]:
# @title Example 4
product = 1
for n in range(1,10):
    product = product * n

print(product)

362880

In [ ]:
# @title Example 5
def to_celcius(x):
    return (x-32)*5/9

for x in range(0,101,10): #range(start, end, step)
    print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

### Euro to Toman

In [ ]:
# @title Example 6: Euro to Toman
def toman_to_euro(value_in_toman):
    one_euro=64200
    value_in_euro = value_in_toman/one_euro
    return print("Your value in euro is " + str(value_in_euro) + " euro.")

def euro_to_toman(value_in_euro):
    one_euro=64200
    value_in_toman = value_in_euro*one_euro
    return print("Your value in toman is " + str(value_in_toman) + " toman.")

euro_to_toman(100)
toman_to_euro(100000)

Your value in toman is 6420000 toman.
Your value in euro is 1.557632398753894 euro.

In [ ]:
# @title Example 7
def countdown(n):
    while n>0:
        print(n)
        n = n-1
    print("Blastoff!")

countdown(10)

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [ ]:
# @title Example 8
def range_1(down, up):
    for n in range(down, up, 8):
        print(n)

def range_2():
    for number in range(2,7+1):
        print(number*3)

def range_3():
    for x in range(2, -2, -1):
        print(x)

range_1(-50, 2)
range_2()
range_3()

-50
-42
-34
-26
-18
-10
-2
6
9
12
15
18
21
2
1
0
-1

In [ ]:
# @title Example 9
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [ ]:
# @title Example 10
teams = ["Real Madrid", "Barcelona", "Bayern Munich"]
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team, "vs", away_team)

Real Madrid vs Barcelona
Real Madrid vs Bayern Munich
Barcelona vs Real Madrid
Barcelona vs Bayern Munich
Bayern Munich vs Real Madrid
Bayern Munich vs Barcelona

In [ ]:
# @title Example 11
def do_something(element1, element2=None):
    if element2 is None:
        # Action to perform on a single element
        print("Processing element:", element1)
    else:
        # Action to perform on a pair of elements
        print("Processing pair:", element1, element2)
long_list = [1, 2, 3, 4, 5]  # Replace with your actual list
for element in long_list:
    do_something(element)

for element1 in long_list:
    for element2 in long_list:
        do_something(element1, element2)

Processing element: 1
Processing element: 2
Processing element: 3
Processing element: 4
Processing element: 5
Processing pair: 1 1
Processing pair: 1 2
Processing pair: 1 3
Processing pair: 1 4
Processing pair: 1 5
Processing pair: 2 1
Processing pair: 2 2
Processing pair: 2 3
Processing pair: 2 4
Processing pair: 2 5
Processing pair: 3 1
Processing pair: 3 2
Processing pair: 3 3
Processing pair: 3 4
Processing pair: 3 5
Processing pair: 4 1
Processing pair: 4 2
Processing pair: 4 3
Processing pair: 4 4
Processing pair: 4 5
Processing pair: 5 1
Processing pair: 5 2
Processing pair: 5 3
Processing pair: 5 4
Processing pair: 5 5

### List strings

In [ ]:
# @title Example 12: for loop - List strings
#nested for loops 1
def ex_1():
  for left in range(7):
    for right in range(left, 7,2): #range(start, end, step_size)
    # "end=" makes the for loop from normally going into "next line" to do
    # whatever you want which in this example is to just a "space".
      print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

#nested for loops 2
def ex_2():
  teams = ["Real Madrid", "Barcelona", "Bayern Munich"]
  for home_team in teams:
    for away_team in teams:
      if home_team != away_team and away_team != "Barcelona":
        print(f'{home_team} vs {away_team}')

#looping string
def ex_3(x):
  for letter in x:
    print(letter)

#loop with indexing
def ex_4(letter: str, index: int): #with x: str you define that x is a string
  while index < len(letter):
    print(letter[index], end= " | ")
    index += 1

#List comprehensions
def ex_5(numbers, power):
  squared_numbers = [x ** power for x in numbers]
  print(squared_numbers)

#strings
def ex_6(list_strings):
  print(f'[0]:{list_strings[0]}')
  print(f'[1][4:8]:{list_strings[1][4:8]}')
  print(f'[0][0:1]: {list_strings[0][0:1]}')
  print(f'[2]: {list_strings[2]}')
  print(f'[-1]: {list_strings[-1]}')
  print(f'[2][3:]: {list_strings[2][3:]}')
  print(f'[2][:10]: {list_strings[2][:10]}')
  print(f'[20:21]: {list_strings[20:21]}')
  print(f'joining strings: {list_strings[0] + list_strings[1]}')

#phone number format
def ex_7(phone_num):
  area_code = "(" + phone_num[:3] + ")"
  exchange = phone_num[3:6]
  line = phone_num [-4:]
  print(area_code + " " + exchange + "-" + line)

#greeting friends
def ex_8(friend_list, excluded_friend):
  for i in friend_list:
    if i != excluded_friend:
      print(f'Hi {i}')

#select vowels
def ex_9(sentence):
  for i in sentence:
    if i.lower() in ['a', 'e', 'i', 'o', 'u']: #it checks the lowercase if its equal to them
      print(i, end=" | ")



#---------------------------print-------------------------
#ex_1()
#ex_2()
#ex_3("Pooya")
#ex_3("Linh")
#ex_4("Pooya", 1) #prints name after the index amount
#ex_5([1,2,3,4,5],3)
#ex_6(["pooya","Hello whats up my name is pooya","I am stuck under the water"])
#ex_7("2025551212")
#ex_8(["Ari","Popi","Eri"], "Popi")
#ex_9("I am stuck under the water")

### Recursion

In [ ]:
# @title Example 13: Recursion
#example of recursion for factorial
#recursions have a maximum for loop of 1000
def ex_1(n):
  if n<2:
    return 1
  else:
    return n*ex_1(n-1) #recursive part

#factorial with display
def ex_2(n):
  print("Factorial called with " + str(n))
  if n < 2:
    print("Returning 1")
    return 1
  result = n * ex_2(n-1) #recursive part
  print("Returning " + str(result) + " for factorial of " + str(n))
  return result

#power of number
def ex_3(number, base):
  if number < base:
    return number == 1
  return ex_3(number // base, base)

#---------------------------------------------
# print(ex_1(3))
# print(ex_1(1000)) #will give an error cause maximum amount reached
# print(ex_2(3))
# print(ex_3(8, 2))
# print(ex_3(64, 4))
# print(ex_3(70, 10))

## Module 4: Dictionaries

### Strings

In [ ]:
# @title Example 1: Strings

#string definitions
def ex_1():
  name = "Pooya" #can use double ""
  color = 'black' #or one ''
  print(f'When 2 strings are concatenated: {name + color}')
  print(f'length of name: {len(name)}')
  print(name[1:3])
  print(name[-1])
  print(name[2:])

#Method is a function associated with a specific class
#tells the index of the chosen letter
#index method only returns the first discovered letter
def ex_2(letter, location):
  return letter.index(location)

#checking a letter in a string
def ex_3(word, init):
  print(init in word)

#replacing old company email
def ex_4(email, old_domain, new_domain):
  if "@" + old_domain in email:
    index = email.index("@" + old_domain)
    new_email = email[:index] + "@" + new_domain
    return new_email
  return email

#string methods
def ex_5(name_1):
  print(f'upper cases the text:{name_1.upper()}')
  print(f'lower cases the text:{name_1.lower()}')
  print(f'makes the text a title:{name_1.title()}')
  print(f'removes space from both ways:{name_1.strip()}') #removes space from both sides
  print(f'removes space from left:{name_1.lstrip()}') #removes space from left side
  print(f'removes space from right side:{name_1.rstrip()}') #removes space from right side

#How much a letter was repeated
def ex_6(text, letter):
  print(f'the amount of letter "{letter}" repeated in sentence: {text.count(letter)}')

#other methods
def ex_7():
  print("Forest".endswith("rest"))
  print("Forest".isnumeric())
  print("12546".isnumeric())
  print("Forest1".isalpha()) #checks if all the characters are alphabetic
  print("Forest1".isalnum()) #checks if all the characters are alphabetic & numeric

#user input
def ex_8(user_input):
  if user_input.lower().strip() == "yes":
    print("User said yes")

#split method
def ex_9(sentence):
  print(sentence.split()) #automatically splits by any white space
  print(sentence.split("i")) #splits by the letter "i"

#format deals with string and int and prints where its {}
def ex_10():
  name = "Pooya"
  number = len(name) * 3
  price = 2.3457
  print(f'Hello {name}. Your lucky number is {number}.') #without format
  print("Hello {}. Your lucky number is {}.".format(name, number)) #with format
  print("my lucky number is {number}, {name}".format(name=name, number=len(name)*3))
  print("Base price: ${:.2f}".format(price)) #rounds it up to 2 digits

#formatting expression
def ex_11(number):
  print(n)

#--------------------------------------------
# ex_1()
# ex_2("Dragon", "g")
# ex_3("I am a cat","Dragon")
# ex_3("I am a cat","cat")
# ex_5("      my name is pooya     ")
# ex_6("Hello my name is popi the great","a")
# ex_7()
# ex_8("   YEs      ")
# ex_9("Hi this is a sentence")
# ex_10()

### Lists

In [ ]:
# @title Example 2: Lists

#mutable means it can be changed
#strings:sequence of characters, are immutable
#lists: sequence of elements of any type, are mutable
#tuple: sequences of elements of any type, are immutable



#format deals with string and int and prints where its {}
def ex_1(sentence, word):
  print(type(sentence))
  print(sentence)
  print(len(sentence))
  print(sentence[:2]) #slice
  print(sentence[:])
  print(sentence[:-1])
  #convert each word in sentence to lowercase to join in a single string
  sentence_str = "".join(sentence).lower()
  #should use lower() instead of lowercase() for lists
  print(word.lower() in sentence_str)

def ex_2(sentence, word):
  print(sentence)
  #append
  sentence.append(word) #adds word to the end of the list
  print(sentence)
  #insert
  sentence.insert(0,"eri")
  sentence.insert(20,"popi")
  print(sentence)
  #remove
  sentence.remove("popi")
  print(sentence)
  #pop only recieves index
  sentence.pop(1)
  print(sentence)

#tuple
#you use tuple when u want the data to not change.
#also you use ''
def ex_3(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  tuple_result =hours, minutes, remaining_seconds
  print(tuple_result)
  print(type(tuple_result))

#------------------------------------------------



#-----------------------------------------
#ex_1(["This", "is", "a", "sentence."], "this")
# ex_2(["This", "is", "ari"],"goat")
ex_3(3000)

(0, 50, 0)
<class 'tuple'>

### Dictionaries

In [ ]:
# @title Example 3: Dictionaries

#format deals with string and int and prints where its {}
def ex_1():
  pass

#-----------------------------------------
ex_1()

### Object-oriented Programming

In [ ]:
# @title Example 4: Object-oriented Programming

#format deals with string and int and prints where its {}
def ex_1():
  pass

#-----------------------------------------
ex_1()

# Object Oriented Programming

In [ ]:
x=1
print(type("hello")) #"hello" is the object from the class string
print(type(x)) #x is the object from the class int

def hello():
  print("hello")

print(type(hello)) #hello is the object from the class function

#Almost everything we work in python is an
#object of some kind of class
#all above examples are "built-in types"

example1 = "hello"
print(example1.upper()) #upper is called a "method" that is happening on an object

<class 'str'>
<class 'int'>
<class 'function'>
HELLO

In [ ]:
# "method" is a function inside a class
class Dog:
  def add_one(self, x): #method
    return x+1

  def bark(self): #method
    print("woof woof")

print(type(d))

kim = Dog()
print(f'This is for add_one function: {kim.add_one(4)}')

kim = Dog() #creating a new instance of type Dog
kim.bark()
#or
Dog().bark()

<class '__main__.Dog'>
This is for add_one function: 5
woof woof
woof woof

In [ ]:
class Cat:
#self should be always written
#__init__ method will be called anytime we call the class
  def __init__(self, name, age): #method
    self.name = name #we made an attribute that saves the name
    self.age = age #we made an attribute that saves the age
    print(f'My Cats name is: {name} and it is {age} years old.')

  def get_name(self): #method (another method to print the name)
    return self.name

  def get_age(self):
    return self.age

  def change_age(self, age): #I can change the attributes of other methods
    self.age = age

#--------------------------------------------------------------------------------------
d1 = Cat("Tom",4)
d2 = Cat("Asali",5)
print(f'Name of first cat: {d1.name}') #it is also stored permanantly inside the class
print(f'Name of second cat: {d2.name}') #it is also stored permanantly inside the class

#another method to print name
print(d1.get_name())
print(d2.get_name())

#method to print the age
print(f'This is the age of d1: {d1.get_age()}')
print(f'This is the old age: {d2.get_age()}') #old age
d2.change_age(2)
print(f'This is the updated age: {d2.get_age()}') #age has been changed

My Cats name is: Tom and it is 4 years old.
My Cats name is: Asali and it is 5 years old.
Name of first cat: Tom
Name of second cat: Asali
Tom
Asali
This is the age of d1: 4
This is the old age: 5
This is the updated age: 2

### Multiple Class example

In [ ]:
# @title Multiple Class Example
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade #0-100

  def get_grade(self):
    return self.grade
#------------------------------------------------
class Course:
  def __init__(self, name, max_students):
    self.name = name
    self.max_students = max_students
    #a list to add the students to the class
    self.students = [] #notice it is not assigned to any of the attributes

  def add_student(self, student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True #just to check if a student was added successfully
    return False

  def get_average_grade(self):
    value = 0
    for student in self.students:
      value += student.get_grade()

    return value / len(self.students)
#------------------------------------------------

#Student list
s1 = Student("Ari", 18, 95)
s2 = Student("Popi", 19, 75)
s3 = Student("Eri", 19, 65)

#course list
course_1 = Course("Data Science", 2)
course_2 = Course("Mathematics", 1)
course_3 = Course("English", 3)

#adding students to the course
course_1.add_student(s1)
course_1.add_student(s2)


print(f'First person in class 1: {course_1.students[0].name}')
print(f'Second person in class 1: {course_1.students[1].name}')
print(course_1.add_student(s3))
print(course_1.get_average_grade())

First person in class 1: Ari
Second person in class 1: Popi
False
85.0

### Inheritence

In [ ]:
# @title inhertitence
class Cat:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def speak(self):
    print("Meow")
#---------------------------------------
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def speak(self):
    print("Bark")

#there must be a shorter way to just write the difference
#between these 2 classes and just type one class

In [ ]:
class Pet: #general (Parent Class)
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show(self):
    print(f'I am {self.name} and I am {self.age} years old.')

  def speak(self):
    print("I am a Pet.")

class Cat(Pet): #specific in pet (Child Class)
  def speak(self):
    print("Meaow")

class Dog(Pet): #specific in pet (Child Class)
  def speak(self):
    print("Bark")

class Fish(Pet):
  pass


p_1 = Pet("Tim", 19)
p_1.show()

c_1 = Cat("Bill", 34)
c_1.show() #it inhereted the .show method from Pet class

d_1 = Dog("Jill", 25)
d_1.show()

c_1.speak()
d_1.speak()

p_1.speak()
f_1 = Fish("Nemo", 2)
f_1.speak()

#it always uses the child method first if available and if not then parent

I am Tim and I am 19 years old.
I am Bill and I am 34 years old.
I am Jill and I am 25 years old.
Meaow
Bark
I am a Pet.
I am a Pet.